html,
body {
  height: 100%;
}

body {
  background-color: #ddcc55;
  color: #000000;
  font-size: 16px;
  font-family: "stoke", "Lucida Bright", "liberation";
}

ol,
ul {
  line-height: 200%;
}

a {
  text-decoration: none;
  color: #222222;
}

a:visited {
  color: #222222;
}

header {
  width: 100%;
  display: inline-block;
  margin-bottom: 1px;
}

nav {
  display: block;
  width: 30%;
  float: left;
  font-family: "stoke", "Lucida Bright", "liberation";
}

nav ul {
  font-size: 1.8vw;
  color: #000000;
  line-height: 230%;
  margin-top: 40px;
  list-style-type: square;
}

section {
  display: block;
  width: 60%;
  height: 90%;
  float: right;
}

address {
  float: right;
  padding-right: 4vh;
  font-family: "stoke", "Lucida Bright", "liberation";
}

h4 {
  font-size: 14px;
}

ol {
  color: #202020;
  list-style: lower-alpha;
}

th {
  border: 1px solid;
  padding: 10px;
}

td {
  border: 1px solid;
  padding: 10px;
  font-size: 12px;
  background-color: #eeeebb;
}

table img {
  width: 100px;
  height: 100px;
}

.ender {
  float: right;
  text-align: right;
  line-height: 140%;
  font-size: 14px;
  font-family: "Karla", "Verdana", "Ubuntu";
}

.imgLogo {
  float: left;
  padding-bottom: 15px;
  margin-bottom: 6px;
  border-bottom: 3px solid #222222;
}

.apres {
  text-align: center;
  font-size: 16px;
}

.titulo {
  text-align: center;
}

.listaPlano {
  border: 3px solid #202020;
  text-align: left;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 300px;
  color: #202020;
  padding: 10px 10px 10px 30px;
  font-size: 12px;
  background-color: #eeeebb;
}

.preco {
  color: #cc0000;
}

.tabEquip {
  border: 1px solid;
  border-collapse: separate;
  width: 510px;
  margin: 10px;
  font-size: 14px;
}

.tabTitulo {
  background-color: #402020;
  color: #ffffff;
}

.tabSubTit {
  background-color: #802020;
  color: #ffffff;
}

.imgCel {
  width: 100px;
  background-color: #ffffff;
}

.formul {
  text-align: left;
  width: 400px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  color: #202020;
  background-color: #eeeebb;
  border: 3px solid #202020;
  font-size: 12px;
}

.fsPessoal {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.fsGenero {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.fsCartao {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

.linhaNome {
  height: 30px;
  width: 340px;
  padding-top: 8px;
}

.linhaDados {
  height: 130px;
  width: 340px;
}

.ColDirMat {
  text-align: end;
  float: right;
}

.ColEsqPes {
  float: left;
}

.ColLavCrd {
  width: 270px;
  height: 30px;
  text-align: left;
  float: left;
}

.ColValTot {
  width: 220px;
  text-align: left;
  float: left;
  display: block;
}

.entDireita {
  margin-right: 20px;
  margin-top: 12px;
  float: right;
}

.inpTelef {
  width: 90px;
  float: right;
}

.numQD {
  width: 60px;
}

.numDD {
  width: 35px;
}

.btnRight {
  margin-top: 6px;
  float: right;
}

.btnMatPlan {
  margin-top: 6px;
}

.labelDados {
  float: left;
}

#inpIdade {
  margin-left: 20px;
}

#dadosPes {
  width: 44%;
  float: left;
}

#inpNome {
  width: 220px;
  margin-left: 19px;
}

#inpNCC {
  margin-top: 2px;
  width: 130px;
}

#inpMat {
  width: 70px;
}

#inpVal {
  width: 50px;
}

#apresImg {
  width: 35%;
}

#frase {
  font-size: 25px;
}
